<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    BOOK'S LIST
  </br>
</br>

    <select name="dataId">
      <% users.forEach((user)=>{ %>
        <option value="<%=user.id%>"><%=user.name%></option>
      <% }) %>
    <select>
    <table border=1>
      <tr>
        <td>Book's ID</td>
        <td>Book's Title</td>
        <td>Stock</td>
        <td>Action</td>
      </tr>
      <% books.forEach((book)=>{ %>
        <tr>
          <td><%=book.id%></td>
          <td><a href="/detailbook/<%=book.id%>"><%=book.title%></a></td>
          <td><%=book.stock%></td>
          <td><a href="/buy/<%= book.id%>/<%= book.stock%>"><input type="button" value="Buy"></a> | <a href="/edit/<%= book.id%>"><input type="button" value="Edit"></a> | <a href="/delete/<%= book.id%>"><input type="button" value="Delete"></a></td>
        </tr>
      <% }) %>
    </table>
    </br>
    <a href="/addbook"><input type="button" value="ADD BOOK"></a>
  </body>
</html>
