 <% include ./partial/header %>

            <hr class="extra-margins">

            <!--Second row-->
            <%let i = 0%>
            <div class="row">
                <!--First columnn-->
                <%books.forEach((book)=>{%>
                <div class="col-lg-4">
                    <!--Card-->
                    <div class="card wow fadeIn" data-wow-delay="0.4s">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="<%=book.photo%>" class="img-fluid" alt="">
                            <a href="/descbook/<%=book.id%>">
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title"><%=book.title%></h4>
                            <!--Text-->
                            <p class="card-text"><%=book.desc%></p>
                            <a data-target=".buy<%=book.id%>" data-toggle="modal" class="btn btn-info">buy</a>
                            <a href="" class="btn-floating btn green"><%=book.stock%></a>
                            <a data-target=".<%=book.id%>" data-toggle="modal" class="btn btn-indigo waves-effect waves-light">Edit</a>
                            <a href="/delete/<%= book.id%>" class="btn-floating btn orange">Del</a>
                        </div>

                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <%i++%>
                <%if(i%3 == 0){%>
                  </div>
                  <hr>
                  <div class="row">
                <%}%>
                <%})%>
                <!--First columnn-->

                <%if(i != books.length){%>

                <%}%>


            <%# </div>%>
            <!--/.Second row-->
<%# <hr>%>


        </div>
        <!--/.Main layout-->

    </main>

 <% include ./partial/footer %>
