<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    USER'S LIST
  </br>
</br>
    <table border=1>
      <tr>
        <td>User's ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Book</td>
        <td>Action</td>
      </tr>
      <% users.forEach((user)=>{ %>
        <tr>
          <td><%=user.id%></td>
          <td><%=user.name%></td>
          <td><%=user.email%></td>
          <td>
            <% user.Books.forEach((book)=>{ %>
              <%= book.title %>,
            <% }) %>
          </td>
          <td><a href="/users/edit/<%= user.id%>"><input type="button" value="EDIT"></a> | <a href="/users/delete/<%= user.id%>"><input type="button" value="DELETE"></a></td>
        </tr>
      <% }) %>
    </table>
    </br>
    <a href="/users/adduser"><input type="button" value="ADD USER"></a>
  </body>
</html>
