<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>SearchBooks</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <%# <link href="/bootstrap.css" rel="stylesheet">%>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }

        .extra-margins {
            margin-top: 1rem;
            margin-bottom: 2.5rem;
        }
         .navbar {
            background-color: #3b3b3f;
        }

        footer.page-footer {
            background-color: #3b3b3f;
            margin-top: 2rem;

        }
    </style>

</head>

<body>


    <header>

        <!--Navbar-->
        <nav class="navbar navbar-toggleable-md navbar-dark">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <strong>StoreOABook</strong>
                </a>
                <div class="collapse navbar-collapse" id="navbarNav1">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" hidden>
                            <a class="nav-link">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/users" class="nav-link">List User</a>
                        </li>
                        <li class="nav-item" hidden>
                            <a class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item dropdown btn-group waves" hidden="">
                          <select name="userId" class="dropdown-toggle show-menu-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%users.forEach((user)=>{%>
                            <option value="<%=user.id%>" ><%=user.name%></option>
                            <% }) %>
                          </select>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
	    <!--/.Navbar-->

    </header>
    <!--modal Stucture add-->
    <div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Form User</h4>
                </div>
                <!--Body-->
                <form class="" action="/addbook" method="post">
                <div class="modal-body">

                    <div class="md-form">
                        <i class="fa fa-book prefix"></i>
                        <input type="text" name="title" value="" id="form4" class="form-control">
                        <label for="form4">Name of Book</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-calculator prefix"></i>
                        <input type="text" name="stock" value="" id="form2" class="form-control">
                        <label for="form2">Stock Input</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-camera-retro prefix"></i>
                        <input type="text" name="photo" value="" id="form3" class="form-control">
                        <label for="form3">link url your img</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tasks prefix"></i>
                        <textarea class="md-textarea" id="form2" name="desc"></textarea>
                        <label for="form2">Description</label>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer flex-column">
                  <button type="submit" class="btn btn-primary ml-auto">Save</button>
                </div>
              </form>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--/modal Stucture add-->

    <!--modal Stucture buy-->
    <%books.forEach((book)=>{%>
    <div class="modal buy<%=book.id%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Form User</h4>
                </div>
                <!--Body-->
                <form class="" action="/buy" method="post">
                <div class="modal-body">

                    <div class="md-form">

                        <i class="fa fa-user prefix"></i>
                        <input type="" name="book" value="<%=book.id%>" id="" class="" hidden>
                        <input type="" name="stock" value="<%=book.stock%>" id="" class="" hidden>
                        <li class="nav-item dropdown btn-group waves" style="margin-left: 50px;margin-top: -7px;">
                          <select name="userId" class="form-control dropdown-toggle show-menu-arrow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <%users.forEach((user)=>{%>
                            <option value="<%=user.id%>" ><%=user.name%></option>
                            <% }) %>
                          </select>
                        </li>
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer flex-column">
                  <button type="submit" class="btn btn-primary ml-auto">buy</button>
                </div>
              </form>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <%})%>
    <!--/modal Stucture buy-->

    <!--modal Stucture edit-->

    <%books.forEach((book)=>{%>

    <div class="modal <%=book.id%>" aria-labelledby="mySmallModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-sm">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Form User</h4>
                </div>
                <!--Body-->
                <form class="" action="/edit/<%=book.id%>" method="post">
                <div class="modal-body">

                    <div class="md-form">
                        <i class="fa fa-book prefix"></i>
                        <input type="text" name="title" value="<%=book.title%>" id="form4" class="form-control">
                        <label for="form4"></label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-calculator prefix"></i>
                        <input type="text" name="stock" value="<%=book.stock%>" id="form2" class="form-control">
                        <label for="form2"></label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-camera-retro prefix"></i>
                        <input type="text" name="photo" value="<%=book.photo%>" id="form3" class="form-control">
                        <label for="form3"></label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tasks prefix"></i>
                        <textarea class="md-textarea" id="form2" name="desc"><%=book.desc%></textarea>
                        <label for="form2"></label>
                    </div>
                </div>
                <!--Footer-->
                <div class="modal-footer flex-column">
                    <button type="submit" class="btn btn-primary ml-auto">Save</button>
                </div>
              </form>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <%})%>
    <!--/modal Stucture edit-->

    <main>

        <!--Main layout-->
        <div class="container">
            <!--First row-->
            <div class="row wow fadeIn" data-wow-delay="0.2s">
                <div class="col-lg-7">
                    <!--Featured image -->
                    <div class="view overlay hm-white-light z-depth-1-half">
                        <img src="http://mdbootstrap.com/img/Photos/Slides/img%20%2877%29.jpg" class="img-fluid " alt="">
                        <div class="mask">
                        </div>
                    </div>
                    <br>
                </div>

                <!--Main information-->
                <div class="col-lg-5">
                    <h2 class="h2-responsive">We are professionals</h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis pariatur quod ipsum atque quam dolorem voluptate officia sunt placeat consectetur alias fugit cum praesentium ratione sint mollitia, perferendis natus quaerat!</p>
                    <a data-target=".bd-example-modal-sm" data-toggle="modal" class="btn btn-info">Add Book now!</a>
                </div>
            </div>
            <!--/.First row-->